<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>入力フォーム</title>
</head>
<body>
<h1>入力フォーム</h1>
<form action="/" method="POST">
    
    date <input type="date" name="date" value="<%=day%>"><br>
    plan <input type="text" name="plan" maxlength="20"><br>

    <button type="submit">送信</button>
</form>
</body>
</html>